@model Fornecedor
@{ ViewData["Title"] = "Editar Fornecedor"; }

<h2 class="mb-3">Editar Fornecedor</h2>
<form asp-action="Edit" method="post" class="card card-body">
    @Html.AntiForgeryToken()
    <partial name="_FornForm" model="Model" />
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
